Repository OBDDimal/variability.dev, pull requests merged in 2021-12, with the labels that each got.

#39 Issue 35 remove hardcoded links
  backend/ddueruemweb/.env.example
  backend/ddueruemweb/settings.py
  backend/requirements.txt
  frontend/.env.development
  frontend/.env.testing
  frontend/src/routes/Upload.tsx
  frontend/src/services/api.service.ts
  frontend/src/services/auth.service.ts
Labels: enhancement, core, frontend, backend, ci

#43 Issue hotfix 41 no default.env.example
  backend/ddueruemweb/settings.py
Labels: bug (major), backend

#46 Issue 32
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/routes/Upload.test.tsx
  frontend/src/routes/Upload.tsx
Labels: frontend

#47 Issue 44
  backend/core/admin.py
  backend/core/fileupload/models.py
  backend/core/fileupload/views.py
  backend/core/tests.py
Labels: bug (major), core, backend

#50 Issue 40 dockerize everything
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/core/fileupload/migrations/__init__.py
  backend/core/routers.py
  backend/core/user/migrations/__init__.py
  backend/ddueruemweb/.env.example
  backend/ddueruemweb/settings.py
  backend/entrypoint.sh
  backend/requirements.txt
  backend/yarn.lock
  docker-compose.yml
  frontend/.dockerignore
  frontend/.env.production
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/routes/Upload.tsx
Labels: core, ci

#55 Readded lost files and changes
  backend/ddueruemweb/settings.py
  frontend/nginx.conf
Labels: bug (major)

#56 Issue 40 dockerize everything
  .github/workflows/django.yml
Labels: ci

#59 Issue 45
  .github/workflows/django.yml
  backend/core/admin.py
  backend/core/auth/viewsets.py
  backend/core/fileupload/models/__init__.py
  backend/core/fileupload/models/file.py
  backend/core/fileupload/models/tag.py
  backend/core/fileupload/serializers.py
  backend/core/fileupload/views.py
  backend/core/tests.py
  backend/ddueruemweb/.env.testing
Labels: enhancement, core, backend

#57 Issue 40 dockerize everything
  .github/workflows/django.yml
  backend/ddueruemweb/.env.testing
Labels: ci

#72 Internal token security
  backend/core/auth/serializers.py
  backend/core/auth/tokens.py
  backend/core/user/viewsets.py
Labels: bug (minor), core, backend

#71 Issue 52
  backend/core/user/models.py
  backend/core/user/viewsets.py
Labels: bug (minor), backend

#68 Issue 48 - Sonarqube connection & Code Coverage
  .github/workflows/django.yml
  .github/workflows/node.js.yml
  .gitignore
  backend/.coveragerc
  backend/ddueruemweb/.env.example
  backend/ddueruemweb/.env.testing
  backend/ddueruemweb/settings.py
  backend/requirements.txt
  backend/sonar-project.properties
  frontend/package.json
  frontend/sonar-project.properties
  frontend/yarn.lock
Labels: ci
