Repository OBDDimal/variability.dev, pull requests merged in 2022-09, with the labels that each got.

#257 Added example feature-model as new model
  frontend/src/classes/constants.js
  frontend/src/views/FeatureModel.vue
Labels: frontend

#258 Finished leave or continue editing dialog
  frontend/src/classes/CollaborationManager.js
  frontend/src/components/CollaborationContinueEditingDialog.vue
  frontend/src/components/CollaborationToolbar.vue
  frontend/src/registerServiceWorker.js
  frontend/src/views/FeatureModel.vue
Labels: frontend

#270 Changed new-feature-model to root -> (Feature A, Feature B)
  frontend/src/classes/constants.js
Labels: bug (cosmetic), frontend

#272 Changed random collaboration name from three two two length
  frontend/src/classes/CollaborationManager.js
Labels: bug (cosmetic)

#271 Changed drawing behaviour of counting-triangles to only show if colla…
  frontend/src/services/FeatureModel/update.service.js
Labels: enhancement, frontend

#275 Made saving possible whenever
  frontend/src/components/FeatureModel/FeatureModelTreeToolbar.vue
  frontend/src/views/FeatureModel.vue
Labels: bug (minor)

#277 Fixed route switching with pwa
  frontend/src/registerServiceWorker.js
  frontend/vue.config.js
Labels: bug (major)

#274 Added new command with undo-redo-function to create new empty model
  frontend/src/classes/CollaborationManager.js
  frontend/src/classes/Commands/Command.js
  frontend/src/classes/Commands/CommandFactory.js
  frontend/src/classes/Commands/CommandManager.js
  frontend/src/classes/Commands/FeatureModel/NewEmptyModelCommand.js
  frontend/src/components/FeatureModel/FeatureModelTree.vue
  frontend/src/components/FeatureModel/FeatureModelTreeToolbar.vue
  frontend/src/services/FeatureModel/init.service.js
  frontend/src/views/FeatureModel.vue
Labels: frontend

#288 262 overflowing collaboration bar with too many users
  frontend/src/App.vue
  frontend/src/components/CollaborationContinueEditingDialog.vue
  frontend/src/components/CollaborationNameDialog.vue
  frontend/src/components/CollaborationToolbar.vue
  frontend/src/components/ConstraintAddEditDialog.vue
  frontend/src/components/Constraints.vue
  frontend/src/components/FeatureModel/FeatureModelTree.vue
  frontend/src/components/FeatureModel/FeatureModelTreeAddDialog.vue
  frontend/src/components/FeatureModel/FeatureModelTreeEditDialog.vue
  frontend/src/components/FeatureModelTable.vue
  frontend/src/components/Navigation.vue
  frontend/src/views/FeatureModel.vue
Labels: bug (major), bug (cosmetic)

#289 Added other touch actions to enhance mobile user experience
  frontend/src/services/FeatureModel/update.service.js
Labels: enhancement

#292 Fixed problem with drag and drop on the same siblings level
  frontend/src/services/FeatureModel/dragAndDrop.service.js
Labels: bug (major)

#278 Issue 213 navigation gui tests
  backend/requirements.txt
  backend/scripts/__init__.py
  backend/scripts/create_test_user.py
  backend/scripts/delete_test_user.py
  frontend/cypress.config.js
  frontend/cypress/e2e/navigation.cy.js
  frontend/cypress/support/e2e.js
  frontend/package.json
  frontend/src/components/Navigation.vue
Labels: frontend
