Repository OBDDimal/variability.dev, pull requests merged in 2022-04, with the labels that each got.

#118 Async Feature Model Analysis with basic Frontend support
  backend/core/admin.py
  backend/core/analysis/__init__.py
  backend/core/analysis/apps.py
  backend/core/analysis/docker_manager.py
  backend/core/analysis/migrations/__init__.py
  backend/core/analysis/models.py
  backend/core/analysis/serializers.py
  backend/core/analysis/tryM.py
  backend/core/analysis/viewsets.py
  backend/core/analysis/workspace_utils.py
  backend/core/fileupload/viewsets.py
  backend/core/routers.py
  backend/core/templates/email/email_template.html
  backend/core/user/migrations/__init__.py
  backend/core/utils.py
  backend/ddueruemweb/settings.py
  backend/readme.md
  backend/requirements.txt
  backend/transpiler/create_files.py
  backend/transpiler/utils.py
  frontend/src/components/AnalysesDisplay.tsx
  frontend/src/routes/Files/FileIndex.tsx
  frontend/src/styles/app.css
Labels: enhancement, frontend, backend, analysis

#122 Issue 116 sonarqube per branch
  .github/workflows/django.yml
  .github/workflows/node.js.yml
Labels: ci

#126 Issue 124 frontend vizualize backend analysis
  backend/core/analysis/docker_manager.py
  backend/core/fileupload/serializers.py
  frontend/src/components/AnalysesDisplay.tsx
  frontend/src/styles/app.css
Labels: enhancement, frontend, backend, analysis

#125 Issue 123 fix pipeline caching
  .github/workflows/django.yml
  .github/workflows/node.js.yml
Labels: ci

#127 Update deploy.yml
  .github/workflows/deploy.yml
Labels: frontend, backend

#121 Auto Create License after migration
  .gitignore
  backend/core/admin.py
  backend/core/analysis/migrations/0001_initial.py
  backend/core/analysis/migrations/0002_dockerprocess_file_to_analyse.py
  backend/core/analysis/migrations/0003_initial.py
  backend/core/analysis/migrations/0004_alter_dockerprocess_resources.py
  backend/core/analysis/models.py
  backend/core/analysis/viewsets.py
  backend/core/fileupload/migrations/0001_initial.py
  backend/core/fileupload/migrations/0002_initial.py
  backend/core/fileupload/migrations/0003_add_default_license.py
  backend/core/fileupload/models.py
  backend/core/fileupload/models/__init__.py
  backend/core/fileupload/models/family.py
  backend/core/fileupload/models/license.py
  backend/core/fileupload/models/tag.py
  backend/core/fileupload/serializers.py
  backend/core/fileupload/tests.py
  backend/core/fileupload/viewsets.py
  backend/core/tests.py
  backend/core/user/migrations/0001_initial.py
Labels: enhancement, core, backend

#131 Issue 130 finishing touches gui
  backend/core/analysis/migrations/0004_alter_dockerprocess_resources.py
  frontend/src/components/SiteNavbar.tsx
  frontend/src/routes/Dsgvo.tsx
  frontend/src/routes/Home.tsx
  frontend/src/routes/Profile.tsx
  frontend/src/routes/Register.tsx
Labels: bug (cosmetic), frontend
