Repository OBDDimal/variability.dev, pull requests merged in 2022-01, with the labels that each got.

#77 Issue 60 (76) all files overview
  backend/core/admin.py
  backend/core/fileupload/models/file.py
  backend/core/fileupload/models/tag.py
  backend/core/fileupload/serializers.py
  backend/core/fileupload/tests.py
  backend/core/fileupload/views.py
  backend/core/routers.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/SiteNavbar.tsx
  frontend/src/components/TableButton.tsx
  frontend/src/routes/Files/FileCreate.tsx
  frontend/src/routes/Files/FileIndex.tsx
  frontend/src/routes/Files/FileShow.tsx
  frontend/src/routes/Tags/TagCreate.tsx
  frontend/src/routes/Tags/TagIndex.tsx
  frontend/src/routes/Upload.test.tsx
  frontend/src/routes/Upload.tsx
  frontend/src/styles/app.css
  frontend/yarn.lock
Labels: core, frontend, backend

#82 Issue 32 - Frontend tests for FileCreate.tsx
  frontend/package.json
  frontend/src/components/Modal.tsx
  frontend/src/routes/Files/FileCreate.tsx
  frontend/src/routes/Login.tsx
  frontend/src/routes/Register.tsx
  frontend/src/routes/Upload.test.tsx
  frontend/yarn.lock
Labels: frontend

#81 First Feature Model Visualization Prototype
  backend/.dockerignore
  backend/core/fileupload/tests.py
  backend/requirements.txt
  backend/transpiler/__init__.py
  backend/transpiler/create_files.py
  backend/transpiler/g6_transpiler.py
  backend/transpiler/index.html
  backend/transpiler/utils.py
  backend/transpiler/xmlExamples/Automotive02v04.xml
  backend/transpiler/xmlExamples/BerkeleyDB.xml
  backend/transpiler/xmlExamples/npc.xml
  backend/transpiler/xmlExamples/oldsmall.xml
  backend/transpiler/xml_parser.py
  backend/transpiler/yarn.lock
Labels: enhancement, core, transpiling, frontend, backend

#85 Issue 60 all files overview
  backend/core/admin.py
  backend/core/fileupload/models/tag.py
  backend/core/fileupload/serializers.py
  backend/core/fileupload/tests.py
  backend/core/fileupload/views.py
  backend/core/tests.py
  frontend/src/App.tsx
  frontend/src/components/TableButton.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/routes/Files/FileCreate.tsx
  frontend/src/routes/Files/FileEdit.tsx
  frontend/src/routes/Files/FileIndex.tsx
  frontend/src/routes/Files/FileShow.tsx
  frontend/src/routes/Tags/TagCreate.tsx
  frontend/src/routes/Tags/TagIndex.tsx
  frontend/src/styles/app.css
Labels: core, frontend, backend

#87 connected transpiler with backend, this closes #80
  backend/core/admin.py
  backend/core/fileupload/models/file.py
  backend/core/fileupload/serializers.py
  backend/core/fileupload/tests.py
  backend/transpiler/__init__.py
  backend/transpiler/g6_transpiler.py
  backend/transpiler/xml_parser.py
  backend/transpiler/yarn.lock
Labels: enhancement, transpiling, backend

#88 Issue 86 visualization to frontend
  .gitignore
  backend/Dockerfile
  backend/core/fileupload/views.py
  backend/core/routers.py
  backend/core/user/viewsets.py
  backend/ddueruemweb/settings.py
  backend/entrypoint.sh
  backend/nginx.conf
  backend/transpiler/index.html
  backend/uwsgi_params.conf
  frontend/Dockerfile
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/TableButton.tsx
  frontend/src/routes/Files/FileCreate.tsx
  frontend/src/routes/Files/FileEdit.tsx
  frontend/src/routes/Files/FileIndex.tsx
  frontend/src/routes/Files/FileShow.tsx
  frontend/src/routes/Home.tsx
  frontend/src/routes/Login.tsx
  frontend/src/routes/Profile.tsx
  frontend/src/routes/Register.tsx
  frontend/src/routes/Tags/TagCreate.tsx
  frontend/src/routes/Tags/TagIndex.tsx
  frontend/src/styles/app.css
  frontend/yarn.lock
Labels: core, transpiling, frontend, backend
