Repository OBDDimal/variability.dev, pull requests merged in 2022-07, with the labels that each got.

#156 155 add and move
  frontend/feature-model-visualizer/constants.js
  frontend/feature-model-visualizer/constraint.js
  frontend/feature-model-visualizer/contextMenu.js
  frontend/feature-model-visualizer/contraintView.js
  frontend/feature-model-visualizer/createSvgPaths.js
  frontend/feature-model-visualizer/examplefeatureModels/hugeModel.xml
  frontend/feature-model-visualizer/examplefeatureModels/littleModel.xml
  frontend/feature-model-visualizer/featureModel.js
  frontend/feature-model-visualizer/featureModelData.js
  frontend/feature-model-visualizer/featureNode.js
  frontend/feature-model-visualizer/index.html
  frontend/feature-model-visualizer/levenshtein.js
  frontend/feature-model-visualizer/libs/d3-flextree.js
  frontend/feature-model-visualizer/libs/d3-hierarchy.js
  frontend/feature-model-visualizer/libs/d3.v7.js
  frontend/feature-model-visualizer/navigationMenu.js
  frontend/feature-model-visualizer/searchFeature.js
  frontend/feature-model-visualizer/style.css
  frontend/feature-model-visualizer/transpiler.js
  frontend/feature-model-visualizer/verticalSpacingFeature.js
  frontend/src/components/FeatureModel/FeatureModelTree.vue
Labels: frontend

#157 147 move feature model visualizer to vuejs
  backend/core/analysis/migrations/0001_initial.py
  backend/core/analysis/migrations/0002_dockerprocess_file_to_analyse.py
  backend/core/analysis/migrations/0003_initial.py
  backend/core/fileupload/migrations/0001_initial.py
  backend/core/fileupload/migrations/0002_initial.py
  backend/core/fileupload/migrations/0003_add_default_license.py
  backend/core/fileupload/permissions.py
  backend/core/fileupload/viewsets.py
  backend/core/user/migrations/0001_initial.py
  backend/ddueruemweb/settings.py
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/assets/BerkeleyDB.xml
  frontend/src/classes/constants.js
  frontend/src/classes/constraint.js
  frontend/src/classes/createSvgPaths.js
  frontend/src/classes/featureModelData.js
  frontend/src/classes/featureNode.js
  frontend/src/components/Constraints.vue
  frontend/src/components/FeatureModel/FeatureModelTree.vue
  frontend/src/components/FeatureModel/FeatureModelTreeContextMenu.vue
  frontend/src/components/FeatureModel/FeatureModelTreeEditDialog.vue
  frontend/src/components/FeatureModel/FeatureModelTreeToolbar.vue
  frontend/src/components/Navigation.vue
  frontend/src/main.js
  frontend/src/plugins/vuetify.js
  frontend/src/plugins/vuetify.ts
  frontend/src/router/index.js
  frontend/src/services/api.service.js
  frontend/src/services/auth.service.js
  frontend/src/services/fileDeletion.service.js
  frontend/src/services/numbers.service.js
  frontend/src/services/numbers.service.ts
  frontend/src/shims-tsx.d.ts
  frontend/src/shims-vue.d.ts
  frontend/src/shims-vuetify.d.ts
  frontend/src/store/index.js
  frontend/src/store/index.ts
  frontend/src/views/DSGVO.vue
  frontend/src/views/Families.vue
  frontend/src/views/FeatureModel.vue
  frontend/src/views/FileCreate.vue
  frontend/src/views/Files.vue
  frontend/src/views/Hello.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/Login.vue
  frontend/src/views/Profile.vue
  frontend/src/views/Register.vue
  frontend/src/views/RegisterConfirmation.vue
  frontend/src/views/Tags.vue
  frontend/src/views/ViewModel.vue
  frontend/tsconfig.json
  frontend/types/index.ts
  package-lock.json
Labels: frontend

#149 Issue 148 update sonarqube frontend
  .github/workflows/node.js.yml
  frontend/sonar-project.properties
  frontend/src/views/Hello.vue
Labels: ci

#150 Issue 138 files page (frontend)
  frontend/src/store/index.js
  frontend/src/views/Files.vue
Labels: frontend

#188 fileupload fix + licenses
  frontend/src/store/index.js
  frontend/src/views/Files.vue
Labels: bug (major)
