Repository OBDDimal/variability.dev, pull requests merged in 2022-03, with the labels that each got.

#101 Issue 96 pipeline caching fix
  .github/workflows/django.yml
  .github/workflows/node.js.yml
  backend/core/tests.py
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/logo.svg
  frontend/src/routes/Files/FileCreate.tsx
  frontend/src/routes/Upload.test.tsx
Labels: ci

#93 Cleanup
  .vscode/settings.json
  README.md
  backend/transpiler/g6_transpiler.py
Labels: frontend, backend

#110 Fixing pipeline again
  backend/core/fileupload/tests.py
  backend/ddueruemweb/.env.testing
  frontend/src/routes/Files/FileCreate.tsx
  frontend/src/routes/Upload.test.tsx
Labels: ci

#114 Issue 38 data privacy
  frontend/src/App.tsx
  frontend/src/components/SiteNavbar.tsx
  frontend/src/routes/Dsgvo.tsx
  frontend/src/routes/Register.tsx
Labels: frontend
